CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

build
# CMake 缓存文件
cmake-build-debug/
cmake-build-release/

# 忽略 JetBrains CLion 配置
.idea/
*.iml

# 临时文件
*.log
*.tmp

.vscode